.poolWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.poolHeader {
    margin-block: 50px;
}

.poolBody {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 150px;
}

.buttonGroup {
    justify-self: end;
}