.tournamentList {
    display: grid;
    gap: 150px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonGroup {
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 100px;
    margin: 25px 0 25px 0;
}

.container-item {
    display: flex;
    flex-direction: column;
    flex: 1;
}