<div class="dashboardWrapper">
    <div class="buttonGroup">
        <button [routerLink]="['/create-tournament']" class="button-light">
			Maak een toernooi aan
		</button>
        <button [routerLink]="['/fields', 'create']" class="button-light">Voeg een zaal of veld toe</button>
    </div>
    <div class="tournamentList">
        <app-tournament-item [tournament]="i" class="tournamentItem" *ngFor="let i of tournaments"></app-tournament-item>
    </div>

    <div class="container">
        <app-player-list class="container-item"></app-player-list>
    </div>

    <div class="container">
        <app-field-list class="container-item"></app-field-list>
    </div>
</div>