.tournamentList {
    display: grid;
    gap: 150px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    margin-top: 50px;
    margin-bottom: 50px;
}

.buttonGroup {
    margin-top: 50px;
}