<div class="loginWrapper">
    <div class="formWrapper">
        <div class="formHeader">
            Inloggen
        </div>
        <div class="formBody">
            <div class="formElement">
                Gebruikersnaam
                <input placeholder="Gebruikersnaam" />
            </div>
            <div class="formElement">
                Wachtwoord
                <input type="password" placeholder="Wachtwoord" />
            </div>
            <p>Nog geen account? Registreer <a routerLink="/register">hier</a>.</p>
            <div class="formButtonGroup">
                <button [routerLink]="['/dashboard']" class="button-dark">Log in</button>
            </div>
        </div>
    </div>
</div>