<div class="editWrapper">
    <div class="editInput">
        <div class="setElement">
            <span>Set 1</span>
            <input type="number" placeholder="Speler 1" class="scoreInput" [(ngModel)]="playerScores[0][0]">
            <span> - </span>
            <input type="number" placeholder="Speler 2" class="scoreInput" [(ngModel)]="playerScores[1][0]">
        </div>
        <div class="setElement">
            <span>Set 2</span>
            <input type="number" placeholder="Speler 1" class="scoreInput" [(ngModel)]="playerScores[0][1]">
            <span> - </span>
            <input type="number" placeholder="Speler 2" class="scoreInput" [(ngModel)]="playerScores[1][1]">
        </div>
        <div class="setElement">
            <span>Set 3</span>
            <input type="number" placeholder="Speler 1" class="scoreInput" [(ngModel)]="playerScores[0][2]">
            <span> - </span>
            <input type="number" placeholder="Speler 2" class="scoreInput" [(ngModel)]="playerScores[1][2]">
        </div>
    </div>
    <span id="errorMsg" [style.display]="errorVisible">{{errorMessage}}</span>
    <div class="editButtonGroup">
        <button class="button-dark" (click)="close()">Sluiten</button>
        <button class="button-dark" (click)="onSubmit()">Bevestig score</button>
    </div>
</div>