<div class="editWrapper">
    <div class="editInput">
        <table>
            <tr>
                <td></td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
            </tr>
            <tr>
                <td class="long">Speler 1</td>
                <td><input type="checkbox"/></td>
                <td><input type="checkbox"/></td>
                <td><input type="checkbox"/></td>
            </tr>
            <tr>
                <td class="long">Speler 2</td>
                <td><input type="checkbox"/></td>
                <td><input type="checkbox"/></td>
                <td><input type="checkbox"/></td>
            </tr>
        </table>
    </div>
    <div class="editButtonGroup">
        <button class="button-dark">Bevestig score</button>
    </div>
</div>