@import '../../../../styles.scss';

.editWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;

    background-color: $white-bg-dark;

    padding-block: 25px;
    padding-inline: 50px;
}

.editInput{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    gap: 10px
    
}

table, tr, td {
    background-color: $white-bg;
    border: 1px solid $grey-primary;
    border-collapse: collapse;

    td {
        padding: 5px;
        text-align: center;
        white-space: nowrap;

        &.long {
            padding: 10px;
            padding-inline: 20px;
        }
    }
}

img {
    opacity: 0%;
}

img.true {
    opacity: 100%;
}

.buttonCheckbox {
    background: none;
    border: none;
}

.editButtonGroup {
    display: flex;
    justify-content: center;
    width: 100%;

    button{
        margin: 10px;
    }
}

.scoreInput {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    width: 7ch;
    padding: 10px;
}

span {
    padding: 0 10px;
}