<table>
    <thead>
        <tr>
            <th>Speler 1</th>
            <th>Speler 2</th>
            <th>Uitslag</th>
        </tr>
    </thead>
    <tbody>
        <tr (click)="onClick()">
            <td>Robin Schellius</td>
            <td>Robin Schellius</td>
            <td>2-1</td>
        </tr>
        <tr (click)="onClick()">
            <td>Robin Schellius</td>
            <td>Robin Schellius</td>
            <td>2-0</td>
        </tr>
        <tr (click)="onClick()">
            <td>Robin Schellius</td>
            <td>Robin Schellius</td>
            <td>n/a</td>
        </tr>
        <tr (click)="onClick()">
            <td>Robin Schellius</td>
            <td>Robin Schellius</td>
            <td>0-2</td>
        </tr>
    </tbody>
</table>