table {
    border-collapse: collapse;
    border: 1px solid #707070;
    thead {
        text-align: left;
        color: white;
        background-color: #ff7d00;
        th {
            padding: 10px 20px;
        }
    }
    tbody {
        tr:nth-child(even) {
            background-color: #EEEEEE;
        }
        tr {
            border-top: 1px solid #707070;
            td {
                padding: 10px 20px;
            }
        }
    }
}