<div class="detail-container">
    <div class="title-bar">
        <h1>{{tournament.title}}</h1>
        <div>
            <button [routerLink]="['../']" class="button-dark">Terug</button>
        </div>
    </div>
    <div class="categoryBar">
        <app-category-selector [categoryList]=categoryList (selectedCategoryEvent)="switchCategory($event)"></app-category-selector>
    </div>
    <div class="pools">
        <div *ngFor="let pool of pools$ | async">
            <a routerLink="{{categoryId}}/{{pool.id}}"><h3>Poule {{pool.poolNumber}}</h3></a>
            <app-pool-players-item [pool]="pool"></app-pool-players-item>
        </div>
    </div>
</div>