.detail-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.title-bar {
    display: flex;
    align-items: center;
    margin-top: 50px;

    gap: 25px;

    div {
        margin-left: auto;
    }
}

.categoryBar {
    display: flex;
    margin: 25px 0 50px 0;
}

.pools {
    display: flex;
    flex: 1;
    gap: 125px;
    flex-wrap: wrap;
    row-gap: 25px;

    padding-bottom: 25px;
}

a, a:visited {
    color: #000;
}

h3 {
    margin-bottom: 15px;
}

.bottom-buttons {
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 25px;

    flex-wrap: wrap;
    row-gap: 15px;

    .button-group-l {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .button-group-r {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        row-gap: 15px;
    }
}