.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-sub-container {
        width: 50vw;
    }
}

form {
    padding: 20px;
    color: white;
    background-color: #ff7d00;
    display: flex;
    flex-direction: column;
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        label {
            margin: 0 0 5px 0;
        }
    }
    .buttons {
        margin-bottom: 0;
    }
    .cancel {
        margin-left: 6px;
    }

    .primaryGroup {
        label {
            margin: 0;
        }
        margin-top: 10px;
        display: flex;
        flex-direction: row;

        align-items: center;
    }
}