.edit-container {
    display: flex;
    align-items: stretch;
    gap: 20px;
    .form-container {
        align-items: normal;
        width: 50%;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    .form-sub-container {
        display: inline-block;
    }
}

form {
    padding: 20px;
    color: white;
    background-color: #ff7d00;
    display: flex;
    flex-direction: column;
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        label {
            margin: 0 0 5px 0;
        }
        input {
            border-radius: 7px;
            border: none;
            padding: 6px 8px;
        }
        select {
            border-radius: 7px;
            border: none;
            padding: 6px 8px;
        }
    }
    .buttons {
        margin-bottom: 0;
    }
    .cancel {
        margin-left: 6px;
    }
}

.player-container {
    display: flex;
    width: 50%;
    max-height: 408px;
    overflow-y: auto;
    border: 1px solid #707070;
    table {
        border: none;
        width: 100%;
        thead {
            position: sticky;
            top: 0;
            div {
                display: flex;
                p {
                    margin: auto 0;
                }
                button {
                    margin-left: auto;
                    border: none;
                    background: none;
                    margin: auto 0 auto auto;
                }
                svg {
                    stroke: white;
                }
            }
        }
        tbody {
            overflow-y: auto;
            tr {
                td {
                    div {
                        display: flex;
                        p {
                            margin: auto 0;
                        }
                        button {
                            margin-left: auto;
                            border: none;
                            background: none;
                            margin: auto 0 auto auto;
                        }
                    }
                }
            }
        }
    }
}