<div>
  <h1>Toernooi bewerken</h1>
  <div class="edit-container">
    <div class="form-container">
      <div class="form-sub-container">
        <form (ngSubmit)="onSubmit(false)" [formGroup]="form">
          <div class="form-group">
            <label for="name">Titel</label>
            <div class="inputElement">
              <input id="name" formControlName="title" type="text" placeholder="Titel" />
              <div *ngIf="
                  (submitted && form.controls['title'].invalid) ||
                  (form.controls['title'].invalid &&
                    form.controls['title'].dirty)
                " class="alert mb-0 p-0">
                <div class="errorElement">
                  <small *ngIf="form.controls['title'].hasError('required')">
                    Titel is verplicht.
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="date">Datum</label>
            <div class="inputElement">
              <input id="date" formControlName="beginDateTime" type="date" placeholder="Datum" />
              <div *ngIf="
                  (submitted && form.controls['beginDateTime'].invalid) ||
                  (form.controls['beginDateTime'].invalid &&
                    form.controls['beginDateTime'].dirty)
                " class="alert mb-0 p-0">
                <div class="errorElement">
                  <small *ngIf="form.controls['beginDateTime'].hasError('required')">
                    De datum van start voor het toernooi is verplicht.
                  </small>
                  <small *ngIf="
                      form.controls['beginDateTime'].hasError('futureDate')
                    ">
                    Een toernooi mag niet vezet worden naar het verleden.
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="maxPlayers">Maximum spelers</label>
            <div class="inputElement">
              <input id="maxPlayers" formControlName="maxPlayers" type="number" min="0"
                oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                placeholder="Maximum spelers" />
              <div *ngIf="
                  (submitted && form.controls['maxPlayers'].invalid) ||
                  (form.controls['maxPlayers'].invalid &&
                    form.controls['maxPlayers'].dirty)
                " class="alert mb-0 p-0">
                <div class="errorElement">
                  <small *ngIf="form.controls['maxPlayers'].hasError('required')">
                    Het maximaal aantal spelers is verplicht.
                  </small>
                  <small *ngIf="form.controls['maxPlayers'].hasError('min')">
                    Het maximaal aantal spelers moet 0 of groter zijn.
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="entryFee">Entreeprijs</label>

            <div class="inputElement">
              <input id="entryFee" formControlName="entryFee" type="number" min="0" placeholder="Maximum spelers"
                placeholder="Entreeprijs" />
              <div *ngIf="
                  (submitted && form.controls['entryFee'].invalid) ||
                  (form.controls['entryFee'].invalid &&
                    form.controls['entryFee'].dirty)
                " class="alert mb-0 p-0">
                <div class="errorElement">
                  <small *ngIf="form.controls['entryFee'].hasError('required')">
                    Entreeprijs is verplicht.
                  </small>
                  <small *ngIf="form.controls['entryFee'].hasError('min')">
                    Entreeprijs moet 0 of groter zijn.
                  </small>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group buttons">
            <div>
              <button type="submit" class="button-dark">Sla op</button>
              <button [routerLink]="['../']" class="button-dark cancel">
                Annuleer
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="player-container">
      <table>
        <thead>
          <tr>
            <th>
              <div class="player-container-title">
                <p>Spelers</p>

                <div class="button-new">
                  <div class="button-new-player">
                    <button class="button-new-player-btn" (click)="onSubmit(true)">
                      Nieuwe speler
                    </button>
                  </div>
                  <button (click)="toggleSearch()" [class.rotationTransform]="showSearch === true"
                    [class.rotationTransformNormal]="showSearch === false" class="button-new-player-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-plus">
                      <line x1="12" y1="5" x2="12" y2="19"></line>
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                  </button>
                </div>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="search-box">
              <div class="form-group" class="search-box-container">
                <div *ngIf="playersErrorMessage" class="errorElement">
                  <small>
                    {{ playersErrorMessage }}
                  </small>
                </div>
                <input id="searchPlayers" class="search-box-container-input" type="text" placeholder="Zoeken..."
                  (keyup)="onSearch($event)" />
              </div>

              <label *ngIf="showSearch" for="searchPlayers" class="search-box-container-label">Voeg speler toe:</label>

              <label *ngIf="!showSearch" for="searchPlayers" class="search-box-container-label">Spelers in
                toernooi:</label>
            </td>
          </tr>
          <ng-container *ngIf="!showSearch">
            <tr *ngFor="let player of filteredList">
              <td>
                <div>
                  <p>{{ player.firstName }} {{ player.lastName }}</p>
                  <button (click)="onRemoveToBeAddedPlayer(player)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-x">
                      <line x1="18" y1="6" x2="6" y2="18"></line>
                      <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>

          <tr *ngFor="let player of filteredList">
            <td *ngIf="showSearch">
              <div>
                <p>{{ player.firstName }} {{ player.lastName }}</p>
                <button (click)="onAddPlayer(player)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-plus">
                    <line x1="12" y1="5" x2="12" y2="19"></line>
                    <line x1="5" y1="12" x2="19" y2="12"></line>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>