@import '../../../../styles.scss';
h1 {
    margin-top: 50px;
    margin-bottom: 15px;
}

.edit-container {
    display: flex;
    align-items: stretch;
    gap: 20px;
    .form-container {
        align-items: normal;
        width: 50%;
    }
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    .form-sub-container {
        display: inline-block;
    }
}

form {
    padding: 20px;
    color: white;
    background-color: #ff7d00;
    display: flex;
    flex-direction: column;
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        label {
            margin: 0 0 5px 0;
        }
    }
    .buttons {
        margin-bottom: 0;
    }
    .cancel {
        margin-left: 6px;
    }
}

.search-box {
    width: 100%;
    height: 100%;
    background-color: #EEEEEE;
    &-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &-input {
            width: 100%;
            margin-top: 20px;
        }
    }
}

.player-container {
    width: 50%;
    max-height: 408px;
    overflow-y: auto;
    border: 1px solid #707070;
    table {
        border: none;
        width: 100%;
        thead {
            position: sticky;
            top: 0;
            div {
                display: flex;
                p {
                    margin: auto 0;
                }
                button {
                    margin-left: auto;
                    border: none;
                    background: none;
                    margin: auto 0 auto auto;
                }
                svg {
                    stroke: white;
                }
            }
        }
        tbody {
            overflow-y: auto;
            tr {
                td {
                    div {
                        display: flex;
                        p {
                            margin: auto 0;
                        }
                        button {
                            margin-left: auto;
                            border: none;
                            background: none;
                            margin: auto 0 auto auto;
                        }
                    }
                }
            }
        }
    }
}

.invisible {
    display: none !important;
}

.noPlayers {
    border: none;
    font-size: small;
    color: $grey-primary;
    height: 100%;
    .noPlayersText {
        text-align: center;
        margin: 0 auto !important;
    }
}