@import '../../../../styles.scss';

.courtHeader {
    font-weight: 700;
}

.courtBody {
    margin-top: 5px;
    background-color: #fff;
}

tbody {
    tr:hover {
        cursor: pointer;
        background-color: #EEEEEE;
    }
}
