@import '../../../../styles.scss';

.courtHeader {
    font-weight: 700;
}

.courtBody {
    margin-top: 5px;
    background-color: #fff;
}

table {
    table-layout: fixed;
    td {
        width: 17ch;
    }
    .game-id {
        width: 5ch;
    }
}

tbody {
    tr:hover {
        cursor: pointer;
        background-color: #EEE !important;
    }
}
