.navbar {
    display: flex;
    align-items: center;
    color: white;
    background-color: #746e6e;
    height: 70px;
    .navbar-img {
        margin-left: 300px;
        img {
            max-width: 150px;
            height: auto;
        }
    }
    ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        width: 100vw;
        padding: 0 20px;
    }
    li {
        height: auto;
    }
    a {
        text-decoration: none;
        height: auto;
        margin: auto 0;
        div {
            display: flex;
            svg {
                padding-right: 8px;
            }
        }
    }
    a:hover {
        color: gray;
    }
    a:visited {
        color: white;
    }
    .logout {
        margin-left: auto;
    }
}