<div class="container">
	<div class="card">
		<h1>{{ player?.name }}</h1>
		<div class="card-element">
			<b>Email</b>
			<div>{{ player?.email }}</div>
		</div>
		<div class="card-element">
			<b>Skill level</b>
			<div>{{ player?.skillLevel?.name }}</div>
		</div>

        <div class="overViewBodyButtonGroup">
            <button class="button-dark" routerLink="edit">Wijzigen</button>
            <button class="button-dark" routerLink="../../dashboard">Annuleren</button>
        </div>

	</div>
</div>
