<div class="registerWrapper">
    <div class="formWrapper">
        <div class="formHeader">Registratie</div>
        <div class="formBody">
            <div class="formElement">
                Voornaam
                <input type="text" placeholder="Voornaam" />
            </div>
            <div class="formElement">
                Achternaam
                <input type="text" placeholder="Achternaam" />
            </div>
            <div class="formElement">
                Email
                <input type="text" placeholder="Email" />
            </div>
            <div class="formElement">
                Wachtwoord
                <input type="password" placeholder="Wachtwoord" />
            </div>
            <div class="formElement">
                Herhaal wachtwoord
                <input type="password" placeholder="Herhaal wachtwoord" />
            </div>
            <p>Al een account? Log in <a routerLink="/login">hier</a>.</p>
            <div class="formButtonGroup">
                <button [routerLink]="['/dashboard']" class="button-dark">
                    Registreer
                </button>
            </div>
        </div>
    </div>
</div>