<div class="itemWrapper">
    <div class="itemHeader">
        {{title}}
    </div>
    <div class="itemBody">
        <div class="labelGroup">
            <div class="itemLabel">Datum: {{date.toLocaleDateString()}}</div>
            <div class="itemLabel">Niveau: {{skillLevel}}</div>
            <div class="itemLabel">Aantal Spelers: {{playerCount}} (max. {{playerMax}})</div>
        </div>
        <div class="buttonGroup">
            <button class="button-dark">Ga naar toernooi</button>
        </div>
    </div>
</div>