@import '../../../../styles.scss';

.itemWrapper {
    display: flex;
    flex-direction: column;

    border: 1px solid $grey-primary;
    min-width: 275px;
}

.itemHeader {
    font-weight: 700;
    font-size: 1.2 em;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 25px;

    background-color: $orange-primary;
    color: $white-bg;
}

.itemBody {
    padding: 25px;
}

.labelGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buttonGroup {
    margin-top: 25px;
}