@import '../styles/styles.scss';
@import '../../../../styles.scss';
:host {
    display: flex;
    flex: 1;
}

.ngtt__match-wrapper {
    flex: 1;
}

.ngtt__team-wrapper {
    display: flex;
    border: 1px solid $ngtt-line-color-main;
    padding: 10px 25px 10px 25px;
}

.ngtt__team-wrapper:nth-child(1) {
    border-bottom: none;
}

.ngtt__team-title {
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    font-weight: bolder;
}

.ngtt__team-score {
    margin-left: 45px;
}

.winner{
    background-color: $orange-primary;
    font-weight: bold;
    color: white;
}

.clickable{
    cursor: pointer;
}