<div class="courtWrapper">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Speler 1</th>
                <th>Speler 2</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of games" (click)="onClick(game)"> 
                <td>#{{game.id}}</td>
                <td>{{game.player1.firstName}} {{game.player1.lastName}}</td>
                <td>{{game.player2.firstName}} {{game.player2.lastName}}</td>
            </tr>
        </tbody>
    </table>
</div>
