<div class="courtWrapper">
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Speler 1</th>
        <th>Speler 2</th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      <tr
        cdkDrag
        cdkDragLockAxis="y"
        *ngFor="let game of games"
        (click)="onClick(game)"
      >
        <td cdkDragHandle>#{{ game.id }}</td>
        <td cdkDragHandle>
          {{ game.player1.firstName }} {{ game.player1.lastName }}
        </td>
        <td cdkDragHandle>
          {{ game.player2.firstName }} {{ game.player2.lastName }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
