/* You can add global styles to this file, and also import other style files */
$orange-primary: #ff7d00;
$orange-light-hover: #ffb166;
$orange-dark-hover: #cc6400;

$grey-primary: #746e6e;
$grey-light: #c7c5c5;

$white-bg: #ffffff;
$white-bg-dark: #eeeeee;

@font-face {
    font-family: "Open Sans";
    src: url('./assets/OpenSans-VariableFont_wdth\,wght.ttf');
}

html {
    font-family: "Open Sans";
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-weight: normal;
}