<div class="form-container">
    <div class="form-sub-container">
        <h1>Toernooi aanmaken</h1>
        <form (ngSubmit)="onSubmit()" [formGroup]="form">
            <div class="errorElement" *ngIf="errorMessage">
                <small>
                    {{errorMessage}}
                </small>
            </div>

            <div class="form-group">
                <label for="name">Titel</label>
                <div class="inputElement">
                    <input id="name" formControlName="title" type="text" placeholder="Titel" />
                    <div *ngIf="
                      (submitted && form.controls['title'].invalid) ||
                      (form.controls['title'].invalid && form.controls['title'].dirty)
                    " class="alert mb-0 p-0">
                        <div class="errorElement">
                            <small *ngIf="form.controls['title'].hasError('required')">
                                Titel is verplicht.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="date">Datum</label>
                <div class="inputElement">
                    <input id="date" formControlName="beginDateTime" type="date" placeholder="Datum" />
                    <div *ngIf="
                      (submitted && form.controls['beginDateTime'].invalid) ||
                      (form.controls['beginDateTime'].invalid && form.controls['beginDateTime'].dirty)
                    " class="alert mb-0 p-0">
                        <div class="errorElement">
                            <small *ngIf="form.controls['beginDateTime'].hasError('required')">
                                Startdatum is verplicht.
                            </small>
                            <small *ngIf="form.controls['beginDateTime'].hasError('futureDate')">
                                Startdatum mag niet in het heden of verleden liggen.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="maxPlayers">Maximum spelers</label>

                <div class="inputElement">
                    <input id="maxPlayers" formControlName="maxPlayers" type="number" min="0" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" placeholder="Maximum spelers" />
                    <div *ngIf="
                      (submitted && form.controls['maxPlayers'].invalid) ||
                      (form.controls['maxPlayers'].invalid && form.controls['maxPlayers'].dirty)
                    " class="alert mb-0 p-0">
                        <div class="errorElement">
                            <small *ngIf="form.controls['maxPlayers'].hasError('required')">
                                Het maximaal aantal spelers is verplicht.
                            </small>
                            <small *ngIf="form.controls['maxPlayers'].hasError('min')">
                                Het maximaal aantal spelers moet 0 of groter zijn.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="entryFee">Entreeprijs</label>

                <div class="inputElement">
                    <input id="entryFee" formControlName="entryFee" type="number" min="0" placeholder="Maximum spelers" placeholder="Entreeprijs" />
                    <div *ngIf="
                      (submitted && form.controls['entryFee'].invalid) ||
                      (form.controls['entryFee'].invalid && form.controls['entryFee'].dirty)
                    " class="alert mb-0 p-0">
                        <div class="errorElement">
                            <small *ngIf="form.controls['entryFee'].hasError('required')">
                                Entreeprijs is verplicht.
                            </small>
                            <small *ngIf="form.controls['entryFee'].hasError('min')">
                                Entreeprijs moet 0 of groter zijn.
                            </small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group buttons">
                <div>
                    <button type="submit" class="button-dark">Sla op</button>
                    <button [routerLink]="['/dashboard']" class="button-dark cancel">
                        Annuleer
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>