name: CI

on:
  push:
    branches:
    - development
  pull_request:
    branches:
    - development

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup node
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'

    - name: Npm install
      run: npm ci
  
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Run tests
      run: |
        npm ci
        npm test
